<ion-header>
  <ion-toolbar color="primary">
    <ion-title >TodoList</ion-title>
    <ion-icon slot="end"style="width: 50px;" (click)="logout()"  name="log-out-outline"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <h1>Aujourd'hui</h1>
 <h3>{{dt}}</h3>

<ion-content class="padding">
  <ion-item  style="margin-top: 10px;margin-bottom: 10px;"color="dark" *ngFor="let entry of form | async" routerLink="/detail/{{entry.id}}" >
    <ion-label>
      <h2 [style]="stytxt">{{ entry.taskName}}</h2>
      <p>{{ entry.taskTime }}</p>
      <ion-checkbox style="float: right;margin-top: -25px;" slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-label>
  </ion-item>
<ion-content [style]="style" color="dark" style="height: 70px;"  >
  <ion-input  placeholder="Enter une tache" type="text" name="tache" ngModel [(ngModel)]="task.taskName">
  </ion-input>
  <ion-button   class=""style="float:right;margin-top:-22px;margin-right:10px;"  type="submit" (click)="submit()">+</ion-button>
</ion-content>
</ion-content>



</ion-content>


<div *ngIf="variable;then content else other_content">here is ignored</div>
<ng-template #content><ion-button  type="submit" (click)="submitTask()">+ Ajouter une tache</ion-button></ng-template>
<ng-template #other_content><ion-button  type="submit" (click)="submitTaskAnnuler()">
  <ion-icon style="margin-right: 10px;"name="return-up-back-outline"></ion-icon>
  Annuler</ion-button></ng-template>



<ion-footer>
  <ion-toolbar color="dark">

    <ion-icon style="margin-left: 150px;" name="today-outline">Todo</ion-icon>
    <ion-icon slot="end" style="margin-right: 150px;"name="checkmark-done-outline">done</ion-icon>
  </ion-toolbar>
</ion-footer>
